# API Keys for external services

# CURRENCY_API_KEY=your_currency_api_key_here (https://app.currencyapi.com/dashboard)
# ALPHA_VANTAGE_API_KEY=your_stock_api_key_here (https://app.exchangerate-api.com/)
